<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card container" style="width: 22rem;">
    <div class="mb-3 pt-4">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="mb-3">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="mb-3">
      <%= form.label :date_begin %>
      <%= form.date_select :date_begin, order: [:day, :month, :year] %>
    </div>

    <div class="mb-3">
      <%= form.label :date_end %>
      <%= form.date_select :date_end, order: [:day, :month, :year] %>
    </div>

    <div class="mb-3">
      <%= form.label :status %>
      <%= form.select :status, [[:propuesta], [:en_progreso], [:terminado]], selected: :propuesta %>
    </div>

    <div class="actions text-center">
      <%= form.submit %>
    </div>
  </div>
<% end %>
